  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.seriouseats.com/recipes/assets_c/2016/03/20160321-filthy-martinis-vicky-wasik-2-2-thumb-1500xauto-430839.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2><%=cocktail.name %></h2>
<<<<<<< HEAD
    <p>Very cool drink, one of the best</p>
=======
    <p>Delicious cocktail, one of the best</p>
>>>>>>> db50c4a02bf2fd831ec1627790160a30b4289537
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="/cocktails/<%= cocktail.id %>" ></a>
</div>
