<div class="container">
  <div class= "logo">
    <h1>Mister Cocktail</h1>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-3">
      <%= render "card", cocktail: cocktail %>
  </div>
  <% end %>
  </div>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
